body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
}
button {
  font-size: 1em;
}
div {
  border-top: 1px solid grey;
  width: inherit;
}
#control-panel {
  border-bottom: 1px solid grey;
  margin: 10px;
}
#settings {
  margin-bottom: 10px;
}
h1 {
  font-size: 3em;
}
p.setting-label {
  text-align: left;
  color: green;
}
table {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
#controlsSelector {
  border: none;
  margin: auto;
  text-align: left;
  width: auto;
}
#controlsSelector label{
  display: block;
  width: 100%;
}
#controlsSelector tr {
  height: 1.5em;
}
td {
  padding: 0;
}
