body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
}
button {
  font-size: 1em
}
div {
  border-top: 1px solid grey;
  width: inherit;
}
#control-panel {
  border-bottom: 1px solid grey;
  float: right;
  margin: 10px;
  width: 40vw;
}
h1 {
  font-size: 3em;
}
table {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 0;
}
